In [147]:
import pandas as pd
import numpy as np

In [148]:
covidDF = pd.read_excel('질병관리청_코로나19 확진자 발생현황(전수감시).xlsx', sheet_name='시도별 발생(17개시도+검역)')

#### 코로나 확진자 데이터 처리

In [149]:
# covidSumDF = covidDF.iloc[0]
# covidSumDF
covidDF
# 합계 쪽 미리 빼놓기 // 나중에 합산용 // 의미없다....

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
4,누적(명),34572554,6751335,2092642,1516421,1991892,1018499,1013275,738128,273413,9266797,1005836,1075474,1390798,1167948,1142483,1581207,2075991,451523,18892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,2023-08-27 00:00:00,32967,6012,1543,1903,1913,1073,1046,643,279,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1321,2023-08-28 00:00:00,13149,1905,522,465,1067,443,410,223,120,3802,537,677,569,410,497,778,534,190,0
1322,2023-08-29 00:00:00,42998,8485,2109,2215,2792,1109,1453,855,386,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1323,2023-08-30 00:00:00,42586,7470,1778,2219,2726,1436,1248,864,316,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1324,2023-08-31 00:00:00,50464,8683,2179,2465,3234,1617,1427,1064,420,13652,1726,2137,2343,1981,1611,2686,2668,570,1

In [150]:
# 칼럼 재 지정
covidDF.columns=['일자','계(명)','서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주','검역']
covidDF.drop([0,1,2,3,4],inplace=True)  # 빈 행 및 인덱스용이었던 행 삭제
covidDF

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
5,2020-01-20 00:00:00,1,-,-,-,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-
6,2020-01-21 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
7,2020-01-22 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8,2020-01-23 00:00:00,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
9,2020-01-24 00:00:00,1,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,2023-08-27 00:00:00,32967,6012,1543,1903,1913,1073,1046,643,279,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1321,2023-08-28 00:00:00,13149,1905,522,465,1067,443,410,223,120,3802,537,677,569,410,497,778,534,190,0
1322,2023-08-29 00:00:00,42998,8485,2109,2215,2792,1109,1453,855,386,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1323,2023-08-30 00:00:00,42586,7470,1778,2219,2726,1436,1248,864,316,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1324,2023-08-31 00:00:00,50464,8683,2179,2465,3234,1617,1427,1064,420,13652,1726,2137,2343,1981,1611,2686,2668,570,1

In [151]:
#can only concatenate str (not "int") to str
# 월별 합산에 타입 문제로 불가능
covidDF.isna()  # - 값 처리 , 안댐
covidDF.replace('-',0,inplace=True) # '-' -> 0으로 대체
covidDF

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6116\421293330.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covidDF.replace('-',0,inplace=True) # '-' -> 0으로 대체

,일자,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
5,2020-01-20,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2020-01-21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2020-01-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2020-01-23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2020-01-24,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,2023-08-27,32967,6012,1543,1903,1913,1073,1046,643,279,8592,1017,1056,1580,1426,1055,1534,1923,371,1
1321,2023-08-28,13149,1905,522,465,1067,443,410,223,120,3802,537,677,569,410,497,778,534,190,0
1322,2023-08-29,42998,8485,2109,2215,2792,1109,1453,855,386,11954,1199,1227,1881,1607,1387,1798,2310,231,0
1323,2023-08-30,42586,7470,1778,2219,2726,1436,1248,864,316,11135,1524,1705,2006,1667,1402,2468,2218,403,1
1324,2023-08-31,50464,8683,2179,2465,3234,1617,1427,1064,420,13652,1726,2137,2343,1981,1611,2686,2668,570,1

In [152]:
covidDF['일자'] = pd.to_datetime(covidDF['일자'])   # 날짜 전부 datatime으로 변동

covidDF.set_index('일자', inplace=True)     # 인덱스 일자 칼럼으로 변경
covidDF = covidDF.resample('M').sum()       # 날짜 인덱스 월별로 압축 및 합산
covidDF

C:\Users\kjy19\AppData\Local\Temp\ipykernel_6116\943458410.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  covidDF = covidDF.resample('M').sum()       # 날짜 인덱스 월별로 압축 및 합산

,계(명),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,검역
일자,,,,,,,,,,,,,,,,,,,
2020-01-31,11,7,0,0,1,0,0,0,0,2,0,0,0,1,0,0,0,0,0
2020-02-29,2920,67,75,2055,5,9,13,17,1,74,7,10,48,4,2,472,59,2,0
2020-03-31,6855,376,44,4629,58,11,23,22,45,400,29,34,80,8,7,828,37,7,217
2020-04-30,979,183,18,168,29,10,4,4,0,200,17,1,15,5,6,65,21,4,229
2020-05-31,703,228,10,31,113,2,6,9,1,164,4,15,3,3,4,14,6,2,88
2020-06-30,1331,451,7,23,135,12,71,3,3,367,8,4,21,6,5,10,11,4,190
2020-07-31,1506,288,17,34,42,160,49,4,0,339,9,9,23,12,14,12,25,7,462
2020-08-31,5641,2268,130,107,333,170,90,30,17,1714,115,55,142,48,104,54,77,19,168
2020-09-30,3865,1425,120,85,200,121,104,58,9,1123,35,43,152,41,27,96,55,14,157
2020-10-31,2700,718,171,42,129,16,82,16,6,1020,55,18,57,38,16,36,25,0,255
2020-11-30,7688,2800,217,58,364,185,52,35,18,1874,373,138,358,168,239,117,309,21,362
2020-12-31,26523,10181,1058,569,1430,385,351,474,49,7173,555,836,754,503,136,720,700,336,313
2021-01-31,17470,5159,889,507,974,702,252,264,47,5353,488,411,363,202,189,593,686,106,285
2021-02-28,11466,4079,466,315,618,301,93,76,30,3747,169,182,428,152,110,236,172,48,244
2021-03-31,13414,3794,583,304,627,125,96,141,44,5029,466,434,187,260,54,250,777,55,188
2021-04-30,18926,5807,1244,424,607,200,444,725,87,5616,354,438,402,485,140,606,955,82,310
2021-05-31,18329,6077,619,565,533,396,348,699,123,4884,501,315,505,289,410,582,784,323,376
2021-06-30,16623,6072,553,682,569,132,573,246,80,4978,374,363,266,139,185,257,548,234,372
2021-07-31,41372,14363,1985,1071,2293,462,1538,382,176,11720,934,544,1142,403,387,507,1956,468,1041
2021-08-31,53073,14999,3180,1977,2767,654,1458,969,257,15297,967,1302,1990,821,565,1644,2777,870,579
2021-09-30,59850,21126,1335,1853,3974,936,1338,990,246,19045,977,1192,2196,927,484,1223,1480,273,255
2021-10-31,53407,19095,1190,1643,3571,382,547,256,126,18331,762,1556,1467,672,459,1386,1548,225,191
2021-11-30,82499,34661,2343,1816,5245,914,1023,219,195,25011,1440,945,2329,1145,876,1559,2007,604,167
2021-12-31,183514,70877,8820,4166,12102,1741,3695,1233,582,52871,3766,2653,5166,3236,1659,4047,5661,934,305
2022-01-31,214677,51989,9357,9937,14927,6982,4475,2163,844,72700,3575,3783,6870,5370,4950,6458,7617,784,1896
2022-02-28,2287827,498494,158075,98483,170139,63225,61745,40568,14739,681217,44901,53197,77857,61945,49134,76391,112330,24263,1124
2022-03-31,9959368,1982679,697919,392298,594659,281730,265191,217277,75737,2696470,273256,302454,375411,317844,311431,395947,643621,134557,887
2022-04-30,4142095,722213,160875,185253,215795,142872,137002,87887,37197,1082456,146314,150812,195221,166685,184880,220034,248148,58112,339
2022-05-31,865914,135163,40830,48894,39623,28694,29340,22767,7722,204343,34054,31545,39307,36426,37349,61152,55990,12560,155
2022-06-30,255580,49091,14133,14679,11276,6105,7005,8102,2220,61864,10701,7802,10027,7934,8287,16748,15316,4145,145
2022-07-31,1415963,311555,81794,49661,75977,33620,39916,38341,10985,388122,41384,42555,55686,43935,34859,60698,75462,30800,613
2022-08-31,3469887,583045,210566,174460,178134,115973,113435,82155,28963,870183,111505,118119,152904,134889,136795,185147,221631,51117,866
2022-09-30,1522721,269968,73921,82604,90100,43521,47603,26348,13503,409687,48205,53556,66590,55505,49724,83722,94535,12741,888
2022-10-31,788421,159698,37254,37098,48311,18211,23115,15036,6612,227133,28704,25425,29914,23181,19744,43326,39301,5428,930
2022-11-30,1541318,306495,80888,68600,92174,40845,50067,28356,13066,440644,52116,50996,64109,47877,40271,76720,77487,9611,996
2022-12-31,1960578,366105,125922,83723,118526,59248,57429,42309,16466,545905,52714,60580,81762,61656,64013,85048,120859,17198,1115
2023-01-31,1117360,201307,77115,47663,68382,29495,32025,27921,8923,296519,28995,33411,47595,37528,38708,52198,74991,13980,604
2023-02-28,337297,59929,23775,18038,17408,10253,8558,8381,2491,81287,8686,10898,13283,12599,12272,19282,24247,5677,233
2023-03-31,307002,64597,13007,12340,16949,8596,10001,4124,3186,86394,7628,10448,12159,12490,9133,15374,14505,5860,211
2023-04-30,353063,89266,10690,10688,23431,11159,10615,3077,3299,103728,9056,10686,14519,12121,12222,11680,12499,4091,236
2023-05-31,533347,127315,27172,18509,31187,15003,15839,8346,3931,148936,14456,16093,20107,16516,17486,18185,26036,7731,499
2023-06-30,508776,109613,43735,23624,26736,16142,13030,12335,3716,123445,12002,12399,16544,14349,15041,21161,33173,11471,260
2023-07-31,989627,184166,92765,49769,43600,33694,29999,27491,6380,218452,25734,26383,33818,31739,40179,49690,74589,21084,95
2023-08-31,1371068,253546,87775,66976,77839,45105,44635,28272,11291,340980,39445,42834,59021,57791,49927,66932,82978,15675,46

In [153]:
# 새 인덱스 제작 용  텍스트 제작
for i in range(3):
    
    for j in range(1,13):
        print("covidDF[", end="")
        print(f"'{20 + i}년 {j}월'", end="")
        print("],", end="")
    print()

covidDF['20년 1월'],covidDF['20년 2월'],covidDF['20년 3월'],covidDF['20년 4월'],covidDF['20년 5월'],covidDF['20년 6월'],covidDF['20년 7월'],covidDF['20년 8월'],covidDF['20년 9월'],covidDF['20년 10월'],covidDF['20년 11월'],covidDF['20년 12월'],
covidDF['21년 1월'],covidDF['21년 2월'],covidDF['21년 3월'],covidDF['21년 4월'],covidDF['21년 5월'],covidDF['21년 6월'],covidDF['21년 7월'],covidDF['21년 8월'],covidDF['21년 9월'],covidDF['21년 10월'],covidDF['21년 11월'],covidDF['21년 12월'],
covidDF['22년 1월'],covidDF['22년 2월'],covidDF['22년 3월'],covidDF['22년 4월'],covidDF['22년 5월'],covidDF['22년 6월'],covidDF['22년 7월'],covidDF['22년 8월'],covidDF['22년 9월'],covidDF['22년 10월'],covidDF['22년 11월'],covidDF['22년 12월'],

#### 코로나 확진자 데이터 기초틀 (covidDF)

In [154]:
covidDF = covidDF.T # 열 행 뒤집고
# covidDF
# coye20 = ['20년 1월','20년 2월','20년 3월','20년 4월','20년 5월','20년 6월','20년 7월','20년 8월','20년 9월','20년 10월','20년 11월','20년 12월']
# coye21 = ['21년 1월','21년 2월','21년 3월','21년 4월','21년 5월','21년 6월','21년 7월','21년 8월','21년 9월','21년 10월','21년 11월','21년 12월']
# coye22 = ['22년 1월','22년 2월','22년 3월','22년 4월','22년 5월','22년 6월','22년 7월','22년 8월','22년 9월','22년 10월','22년 11월','22년 12월']

# len(covidDF.columns)


covidDF.columns=['20년 1월','20년 2월','20년 3월','20년 4월','20년 5월','20년 6월','20년 7월','20년 8월','20년 9월','20년 10월','20년 11월','20년 12월',
                 '21년 1월','21년 2월','21년 3월','21년 4월','21년 5월','21년 6월','21년 7월','21년 8월','21년 9월','21년 10월','21년 11월','21년 12월',
                 '22년 1월','22년 2월','22년 3월','22년 4월','22년 5월','22년 6월','22년 7월','22년 8월','22년 9월','22년 10월','22년 11월','22년 12월',
                 '23년 1월','23년 2월','23년 3월','23년 4월','23년 5월','23년 6월','23년 7월','23년 8월']

covidDF

,20년 1월,20년 2월,20년 3월,20년 4월,20년 5월,20년 6월,20년 7월,20년 8월,20년 9월,20년 10월,...,22년 11월,22년 12월,23년 1월,23년 2월,23년 3월,23년 4월,23년 5월,23년 6월,23년 7월,23년 8월
계(명),11,2920,6855,979,703,1331,1506,5641,3865,2700,...,1541318,1960578,1117360,337297,307002,353063,533347,508776,989627,1371068
서울,7,67,376,183,228,451,288,2268,1425,718,...,306495,366105,201307,59929,64597,89266,127315,109613,184166,253546
부산,0,75,44,18,10,7,17,130,120,171,...,80888,125922,77115,23775,13007,10690,27172,43735,92765,87775
대구,0,2055,4629,168,31,23,34,107,85,42,...,68600,83723,47663,18038,12340,10688,18509,23624,49769,66976
인천,1,5,58,29,113,135,42,333,200,129,...,92174,118526,68382,17408,16949,23431,31187,26736,43600,77839
광주,0,9,11,10,2,12,160,170,121,16,...,40845,59248,29495,10253,8596,11159,15003,16142,33694,45105
대전,0,13,23,4,6,71,49,90,104,82,...,50067,57429,32025,8558,10001,10615,15839,13030,29999,44635
울산,0,17,22,4,9,3,4,30,58,16,...,28356,42309,27921,8381,4124,3077,8346,12335,27491,28272
세종,0,1,45,0,1,3,0,17,9,6,...,13066,16466,8923,2491,3186,3299,3931,3716,6380,11291
경기,2,74,400,200,164,367,339,1714,1123,1020,...,440644,545905,296519,81287,86394,103728,148936,123445,218452,340980
강원,0,7,29,17,4,8,9,115,35,55,...,52116,52714,28995,8686,7628,9056,14456,12002,25734,39445
충북,0,10,34,1,15,4,9,55,43,18,...,50996,60580,33411,10898,10448,10686,16093,12399,26383,42834
충남,0,48,80,15,3,21,23,142,152,57,...,64109,81762,47595,13283,12159,14519,20107,16544,33818,59021
전북,1,4,8,5,3,6,12,48,41,38,...,47877,61656,37528,12599,12490,12121,16516,14349,31739,57791
전남,0,2,7,6,4,5,14,104,27,16,...,40271,64013,38708,12272,9133,12222,17486,15041,40179,49927
경북,0,472,828,65,14,10,12,54,96,36,...,76720,85048,52198,19282,15374,11680,18185,21161,49690,66932
경남,0,59,37,21,6,11,25,77,55,25,...,77487,120859,74991,24247,14505,12499,26036,33173,74589,82978
제주,0,2,7,4,2,4,7,19,14,0,...,9611,17198,13980,5677,5860,4091,7731,11471,21084,15675
검역,0,0,217,229,88,190,462,168,157,255,...,996,1115,604,233,211,236,499,260,95,46

#### 20년도 코로나 증감 DF ( covid20DF )

In [155]:
covid20DF = pd.concat([covidDF['20년 1월'],covidDF['20년 2월'],covidDF['20년 3월'],covidDF['20년 4월'],covidDF['20년 5월'],covidDF['20년 6월'],covidDF['20년 7월'],covidDF['20년 8월'],covidDF['20년 9월'],covidDF['20년 10월'],covidDF['20년 11월'],covidDF['20년 12월']], axis=1 ,keys=['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'])
# y22_crime.drop(0)
covid20DF

      1월    2월    3월   4월   5월    6월    7월    8월    9월   10월   11월    12월
계(명)  11  2920  6855  979  703  1331  1506  5641  3865  2700  7688  26523
서울     7    67   376  183  228   451   288  2268  1425   718  2800  10181
부산     0    75    44   18   10     7    17   130   120   171   217   1058
대구     0  2055  4629  168   31    23    34   107    85    42    58    569
인천     1     5    58   29  113   135    42   333   200   129   364   1430
광주     0     9    11   10    2    12   160   170   121    16   185    385
대전     0    13    23    4    6    71    49    90   104    82    52    351
울산     0    17    22    4    9     3     4    30    58    16    35    474
세종     0     1    45    0    1     3     0    17     9     6    18     49
경기     2    74   400  200  164   367   339  1714  1123  1020  1874   7173
강원     0     7    29   17    4     8     9   115    35    55   373    555
충북     0    10    34    1   15     4     9    55    43    18   138    836
충남     0    48    80   15    3    21    23   142   152    57   358    754
전북     1     4     8    5    3     6    12    48    41    38   168    503
전남     0     2     7    6    4     5    14   104    27    16   239    136
경북     0   472   828   65   14    10    12    54    96    36   117    720
경남     0    59    37   21    6    11    25    77    55    25   309    700
제주     0     2     7    4    2     4     7    19    14     0    21    336
검역     0     0   217  229   88   190   462   168   157   255   362    313

#### 21년도 코로나 증감 DF ( covid21DF )

In [156]:
covid21DF = pd.concat([covidDF['21년 1월'],covidDF['21년 2월'],covidDF['21년 3월'],covidDF['21년 4월'],covidDF['21년 5월'],
           covidDF['21년 6월'],covidDF['21년 7월'],covidDF['21년 8월'],covidDF['21년 9월'],covidDF['21년 10월'],
           covidDF['21년 11월'],covidDF['21년 12월']],
           axis=1 ,keys=['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'])


covid21DF

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
계(명),17470,11466,13414,18926,18329,16623,41372,53073,59850,53407,82499,183514
서울,5159,4079,3794,5807,6077,6072,14363,14999,21126,19095,34661,70877
부산,889,466,583,1244,619,553,1985,3180,1335,1190,2343,8820
대구,507,315,304,424,565,682,1071,1977,1853,1643,1816,4166
인천,974,618,627,607,533,569,2293,2767,3974,3571,5245,12102
광주,702,301,125,200,396,132,462,654,936,382,914,1741
대전,252,93,96,444,348,573,1538,1458,1338,547,1023,3695
울산,264,76,141,725,699,246,382,969,990,256,219,1233
세종,47,30,44,87,123,80,176,257,246,126,195,582
경기,5353,3747,5029,5616,4884,4978,11720,15297,19045,18331,25011,52871
강원,488,169,466,354,501,374,934,967,977,762,1440,3766
충북,411,182,434,438,315,363,544,1302,1192,1556,945,2653
충남,363,428,187,402,505,266,1142,1990,2196,1467,2329,5166
전북,202,152,260,485,289,139,403,821,927,672,1145,3236
전남,189,110,54,140,410,185,387,565,484,459,876,1659
경북,593,236,250,606,582,257,507,1644,1223,1386,1559,4047
경남,686,172,777,955,784,548,1956,2777,1480,1548,2007,5661
제주,106,48,55,82,323,234,468,870,273,225,604,934
검역,285,244,188,310,376,372,1041,579,255,191,167,305

#### 22년도 코로나 증감 DF ( covid22DF )

In [157]:
covid22DF = pd.concat([covidDF['22년 1월'],covidDF['22년 2월'],covidDF['22년 3월'],covidDF['22년 4월'],covidDF['22년 5월'],covidDF['22년 6월'],
                       covidDF['22년 7월'],covidDF['22년 8월'],covidDF['22년 9월'],covidDF['22년 10월'],
                       covidDF['22년 11월'],covidDF['22년 12월']],
                        axis=1 ,keys=['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'])

covid22DF

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
계(명),214677,2287827,9959368,4142095,865914,255580,1415963,3469887,1522721,788421,1541318,1960578
서울,51989,498494,1982679,722213,135163,49091,311555,583045,269968,159698,306495,366105
부산,9357,158075,697919,160875,40830,14133,81794,210566,73921,37254,80888,125922
대구,9937,98483,392298,185253,48894,14679,49661,174460,82604,37098,68600,83723
인천,14927,170139,594659,215795,39623,11276,75977,178134,90100,48311,92174,118526
광주,6982,63225,281730,142872,28694,6105,33620,115973,43521,18211,40845,59248
대전,4475,61745,265191,137002,29340,7005,39916,113435,47603,23115,50067,57429
울산,2163,40568,217277,87887,22767,8102,38341,82155,26348,15036,28356,42309
세종,844,14739,75737,37197,7722,2220,10985,28963,13503,6612,13066,16466
경기,72700,681217,2696470,1082456,204343,61864,388122,870183,409687,227133,440644,545905
강원,3575,44901,273256,146314,34054,10701,41384,111505,48205,28704,52116,52714
충북,3783,53197,302454,150812,31545,7802,42555,118119,53556,25425,50996,60580
충남,6870,77857,375411,195221,39307,10027,55686,152904,66590,29914,64109,81762
전북,5370,61945,317844,166685,36426,7934,43935,134889,55505,23181,47877,61656
전남,4950,49134,311431,184880,37349,8287,34859,136795,49724,19744,40271,64013
경북,6458,76391,395947,220034,61152,16748,60698,185147,83722,43326,76720,85048
경남,7617,112330,643621,248148,55990,15316,75462,221631,94535,39301,77487,120859
제주,784,24263,134557,58112,12560,4145,30800,51117,12741,5428,9611,17198
검역,1896,1124,887,339,155,145,613,866,888,930,996,1115

#### 코로나 전체

In [158]:
total_covid = pd.concat([covid20DF.iloc[0],covid21DF.iloc[0],covid22DF.iloc[0]], axis=1, keys=['20년','21년','22년'])
total_covid

       20년     21년      22년
1월      11   17470   214677
2월    2920   11466  2287827
3월    6855   13414  9959368
4월     979   18926  4142095
5월     703   18329   865914
6월    1331   16623   255580
7월    1506   41372  1415963
8월    5641   53073  3469887
9월    3865   59850  1522721
10월   2700   53407   788421
11월   7688   82499  1541318
12월  26523  183514  1960578

In [159]:
total_covid.T

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
20년,11,2920,6855,979,703,1331,1506,5641,3865,2700,7688,26523
21년,17470,11466,13414,18926,18329,16623,41372,53073,59850,53407,82499,183514
22년,214677,2287827,9959368,4142095,865914,255580,1415963,3469887,1522721,788421,1541318,1960578