강사님이 올리는 데이터 파일 
3. 데이터 파일 남북한 반전 전령략.xlsx    아니 나 근데 엑셀이 없..는데.? ? . ? ㅇ..
 - 신재생 에너지 ==> 북한 추가
 - 없는 값은 '-' ==> 0으로
 - 2016년 컬럼 옆에 합계 칼럼 추가.
   값 : 행렬 합계 저장
   각 행별 합계 구하는 함수 생성


   ex_dataframe_csv << 에서 파일 읽어서 하는 것 참고

In [2]:
import pandas as pd

data_file=r"C:\Git\KDT\BigData\EX_PANDAS6\Day02\Work_김도연\남북한발전전력량.csv"

# CSV 파일 ==> DataFrame으로 저장
xlsxDF = pd.read_csv(data_file)

# 남한 신재생 1990~2011까지 - 값.
# 북한 원자력 은 올 - 값
# 북한 신재생 에너지 값 추가


xlsxDF.head(10)
# csvDF

# csvDF1 = pd.read_csv(data_file1, sep=" ", header=None)
# csvDF1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,"1,077","1,186","1,310","1,444","1,650","1,847","2,055","2,244",...,"4,031","4,224","4,336","4,747","4,969","5,096","5,171","5,220","5,281","5,404"
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,"1,022","1,122","1,264","1,420",...,"2,551","2,658","2,802","3,196","3,343","3,430","3,581","3,427","3,402","3,523"
3,NaN,원자력,529,563,565,581,587,670,739,771,...,"1,429","1,510","1,478","1,486","1,547","1,503","1,388","1,564","1,648","1,620"
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
xlsxDF.iloc[4][2:] = 0
xlsxDF.iloc[8][2:] = 0
xlsxDF.iloc[9][1] = '신재생'
xlsxDF.iloc[9][2:] = 0

xlsxDF["합계"] = 0
"""
 - 2016년 컬럼 옆에 합계 칼럼 추가.
   값 : 행렬 합계 저장
   각 행별 합계 구하는 함수 생성
"""
xlsxDF.head(10)

C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2570767061.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  xlsxDF.iloc[4][2:] = 0
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2570767061.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  xlsxDF.iloc[8][2:] = 0
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2570767061.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  xlsxDF.iloc[9][1] = '신재생'
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2570767061.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  xlsxDF.iloc[9][1] = '신재생'
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2570767061.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  xlsxDF.iloc[9][2:] = 0

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,합계
0,남한,합계,"1,077","1,186","1,310","1,444","1,650","1,847","2,055","2,244",...,"4,224","4,336","4,747","4,969","5,096","5,171","5,220","5,281","5,404",0
1,NaN,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,0
2,NaN,화력,484,573,696,803,"1,022","1,122","1,264","1,420",...,"2,658","2,802","3,196","3,343","3,430","3,581","3,427","3,402","3,523",0
3,NaN,원자력,529,563,565,581,587,670,739,771,...,"1,510","1,478","1,486","1,547","1,503","1,388","1,564","1,648","1,620",0
4,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,0
6,NaN,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,0
7,NaN,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,0
8,NaN,원자력,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
xlsxDF.iloc[0][29] = 1

# for i in range(0,9):
#     xlsxDF.iloc[i][29] = 1

xlsxDF.head(10)

C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\3700803795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsxDF.iloc[0][29] = 1
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\3700803795.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  xlsxDF.iloc[0][29] = 1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,합계
0,남한,합계,"1,077","1,186","1,310","1,444","1,650","1,847","2,055","2,244",...,"4,224","4,336","4,747","4,969","5,096","5,171","5,220","5,281","5,404",0
1,NaN,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,0
2,NaN,화력,484,573,696,803,"1,022","1,122","1,264","1,420",...,"2,658","2,802","3,196","3,343","3,430","3,581","3,427","3,402","3,523",0
3,NaN,원자력,529,563,565,581,587,670,739,771,...,"1,510","1,478","1,486","1,547","1,503","1,388","1,564","1,648","1,620",0
4,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,0
6,NaN,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,0
7,NaN,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,0
8,NaN,원자력,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:

list01 = []
for idx in range(0,10):
    sum = 0
    for i in range(2, len(xlsxDF.columns)-1):
        sose = xlsxDF.iloc[idx][i]
        if not ',' in str(sose):
            sose = int(sose)
            # print(sose, type(sose))
        else:
            sose = sose.replace(',','')
            sose = int(sose)
        sum +=  sose  # 납한 1990 합계
    print(sum)
    xlsxDF.iloc[idx][29] = sum
    list01.append(sum)

xlsxDF["합계"][[0,1,2,3,4,5,6,7,8,9]] = list01

# xlsxDF["합계"][[range(0,10)]] = list01

print(list01)
xlsxDF.head(10)

# 0에서는 [0][2] 부터 2016까지 합계 ... 
# 그걸 9까지.

# xlsxDF['1990'] = int(xlsxDF['1990'])
# xlsxDF['1991'] = int(xlsxDF['1991'])
# xlsxDF["합계"] = xlsxDF['1990']+xlsxDF['1991']

# xlsxDF["합계"] = for i in range(len(xlsxDF[0]-1))
# xlsxDF

# print(xlsxDF['1990'][1],type(xlsxDF['1990'][1]))
# print(xlsxDF.iloc[0][2])
# print(int(xlsxDF['1990'][1]), type(int(xlsxDF['1990'][1])))

88523
1599
55136
31067
0
5914
3408
2506
0
0
[88523, 1599, 55136, 31067, 0, 5914, 3408, 2506, 0, 0]

C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2599711583.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sose = xlsxDF.iloc[idx][i]
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2599711583.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsxDF.iloc[idx][29] = sum
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2599711583.py:14: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  xlsxDF.iloc[idx][29] = sum
C:\Users\kjy19\AppData\Local\Temp\ipykernel_23576\2599711583.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsxDF["합계"][[0,1,2,3,4,5,6,7,8,9]] = list01

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,합계
0,남한,합계,"1,077","1,186","1,310","1,444","1,650","1,847","2,055","2,244",...,"4,224","4,336","4,747","4,969","5,096","5,171","5,220","5,281","5,404",88523
1,NaN,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,1599
2,NaN,화력,484,573,696,803,"1,022","1,122","1,264","1,420",...,"2,658","2,802","3,196","3,343","3,430","3,581","3,427","3,402","3,523",55136
3,NaN,원자력,529,563,565,581,587,670,739,771,...,"1,510","1,478","1,486","1,547","1,503","1,388","1,564","1,648","1,620",31067
4,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,5914
6,NaN,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,3408
7,NaN,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,2506
8,NaN,원자력,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0